<div class=container>
  <div class="row">
    <div class = mr-5>
      <h1>画像投稿フォーム</h1>
    </div>
    <%= form_with model: @post_image, local:true do |f| %>
      <h4>画像</h4>
      <%= f.attachment_field :image %>
      <h4>場所</h4>
      <%= f.text_field :name %>
      <h4>説明</h4>
      <%= f.text_area :caption %>
      <%= f.submit '投稿' %>
    <% end %>
  </div>
</div>